* {  
    box-sizing: border-box; /* Ensures padding and border are included in total width and height */  
    margin: 0;  
    padding: 0;  
}  

body {  
    font-family: 'Arial', sans-serif;  
    background: linear-gradient(to bottom right, #d2e3fc, #b3c8ff); /* Soft blue gradient */  
}  

header {  
    background-color: #3f51b5; /* Deep blue color for the header */  
    color: white; /* White text */  
    padding: 20px;  
    text-align: center;  
}  

.container {  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 100vh; /* Keeps the form vertically centered */  
    margin-top: 2%;
}  

.donation-form {  
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */  
    padding: 20px;  
    border-radius: 10px; /* Rounded corners */  
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */  
    width: 40%; /* Max width for the form */  
      
}  

h2 {  
    color: #3f51b5; /* Dark blue for headings */  
    margin-bottom: 20px;  
    text-align: center;  
}  

label {  
    margin-top: 15px; /* Space above labels */  
    /* display: block; Makes labels take the full width   */
    display: flex;
    width: 55%;
}  

input, textarea {  
    width: 100%; /* Full width */  
    padding: 10px;  
    margin-top: 5px; /* Space between label and input */  
    border: 2px solid #3f51b5; /* Dark blue border */  
    border-radius: 5px; /* Rounded corners */  
    font-size: 1em; /* Consistent text size */  
}  

.pick-up-methods {  
    margin-top: 10px; /* Space above pick-up methods */  
}  

.custom-radio {  
    display:flex;
    flex-direction: row-reverse;
    height: 22px;
}

.submit{
    cursor: pointer;
    padding: 3% 20%;
    border: none;
    border-radius: 10px;
    background-color: #3f51b5;
    color: white;
    margin-left: 20%;
    margin-top: 10%;
}