body {  
    font-family: 'Arial', sans-serif;  
    margin: 0;  
    padding: 0;   
    background-color: #f9f5f5 ; 
    background-image: url('WhatsApp Image 2025-03-28 at 20.13.09_960b6b82.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}  
.events {  
    background-color: rgba(255, 255, 255, 0.773);
    margin: 20px auto; 
    padding: 40px;  
    border-radius: 15px;  
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);  
    max-width: 900px;  
    margin-top: 7%;
}  

h2 {  
    color: #009688; 
    margin-bottom: 20px;  
    font-size: 2em;   
}  

table {  
    width: 100%;  
    border-collapse: collapse;  
    margin-top: 5%; 
}  

table th, table td {  
    padding: 15px;  
    border: 1px solid #009688;  
    text-align: left;  
}  

table th {  
    background-color: #e0f2f1;   
    color: #00796b; 
}  

table tr:hover td {    
    background-color: #b2dfdb; 
    transition: background-color 0.3s;  
}  

.search-bar input[type="text"] {  
    width: 400px;   
    padding: 15px;  
    border: 2px solid #009688;  
    border-radius: 5px;  
    margin-right: 15px;  
}  

.search-bar button,  
.search-bar select {  
    padding: 15px;  
    border: none;  
    border-radius: 5px; 
    color: white; 
    cursor: pointer;  
    font-size: 1em;  
    transition: background-color 0.3s, transform 0.2s; 

}  


.search-bar button:hover,  
.search-bar select:hover {  
    background-color: #f57c00;  
    transform: scale(1.05);  
}  
button {  
    background-color: #ff5722;  
    color: white;   
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 1em; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;   
}  

button:hover {  
    background-color: #e64a19; 
    transform: scale(1.05); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);  
}  

button.register:active {  
    transform: scale(0.95); 
}  

.UpCommingEvents-aTag{
    text-decoration: none;
}