<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate | NGO</title>
    <link rel="stylesheet" href="../static/Donation.css">
</head>
<body>
    <div class="donation-page">
        <header class="header">
            <h1>Make a Difference: Donate Now</h1>
            <p>Select a category to help us create a positive impact.</p>
        </header>
        <div class="donation-container">
           <div class="donation-option">
                <h2>Donate Food</h2>
                <p>Help provide meals for those in need. Donate non-perishable food items.</p>
             <a href="./Donation-food.html"> <button>Donate Food</button></a>  
            </div>
     
            <div class="donation-option">
                <h2>Donate Money</h2>
                <p>Your contributions will help fund our programs and activities.</p>
                <a href="./Dontation-financial.html">  <button>Donate Money</button>  </a> 
            </div>
            <div class="donation-option">
                <h2>Donate Things</h2>
                <p>Contribute clothes, books, or other items to those in need.</p>
               <a href="./Dontation-things.html"> <button>Donate Things</button></a>
            </div>
        </div>
        <footer class="footer">
            <p>&copy; 2025 Your NGO Name. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>