<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Event1.css">
    <title>Document</title>
</head>
<body>
    <div class="Event1-Page">
        <h1 class="Event1-h1"> Women’s Safety Awareness Event</h1>
        <p>📅 Date: April 10, 2025</p>
        <p>📍 Venue: Community Hall, Kolhapur</p>
        <p>⏳ Time: 10:00 AM – 4:00 PM</p>
        <p>🎤 Organized by: <b>Women Association</b></p>
        <h3 class="Event1-h3">🎯 Event Highlights:</h3>
      <div class="Event1-highlight">
        <p>✅ Self-Defense Workshop – Learn practical techniques from experts</p>
        <p>✅ Legal Awareness Session – Know your rights with legal professionals</p>
        <p>✅ Cyber Safety Talk – Protect yourself online & fight digital harassment</p>
        <p>✅ Interactive Panel Discussion – Hear from police officers, activists, and survivors</p>
        <p>✅ Helpline & Support Booths – Get information on local support services</p>
    </div>
        <button class="Event1-submitbtn">To Register</button>
    </div>
</body>
</html>