<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="LoginPage">
        <div class="header">
        </div>
        <div class="container">
            <form id="login-form" class="login-form">
                <h2>Login</h2>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="text" id="user-id" placeholder="Enter your Email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Enter your password" required>
                </div>
                <div class="form-group">
                    <label for="Contact No">Contact No</label>
                    <input type="Contact No" id="Contact No" placeholder="Enter your number" required>
                </div>
                <a class="link-teacherdashboard" href="/teacherdashboard">
                    <button class="loginPage-signin-btn">Login</button>
                </a>
                <div class="support">
                    <a href="#">Need help? Contact Support</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>