<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/VolunteersDashboard.css">
    <title>Ngo Dashboard</title>
</head>

<body>
    <div class="Volunteer-Dashboard-Page">
        <h1 class="Volunteer-Dashboard-Page-h1">NGO'S Dashboard</h1>
        <div class="Vol-Dashboard-MainContent">
            <div class="Vol-Dash-MainContent-Col1">
              <a href="./NGO.html" class="Vol-Dash-Ele1-aTag"> 
                 <div class="Vol-Dash-MainContent-Element1">
                   <img src="../static/DonationImg.png" alt="donation Image" class="Vol-Dash-Ele1-Img">
                    <div class="Vol-Dash-MainContent-Ele1-text">
                        <h2>Donation</h2>
                        <p>Education, nutrition and holistic development of children</p>
                    </div>
                </a>
                </div>
              <a href="./NGOP.html" class="Vol-Dash-Ele2-aTag">
                <div class="Vol-Dash-MainContent-Element1">
                    <img src="../static/Upcomming.png" alt="Imgage of a book" class="Vol-Dash-Ele2-Img">
                    <div class="Vol-Dash-MainContent-Ele1-text">
                        <h2>Profile</h2>
                        <p>Education, nutrition and holistic development of children</p>
                    </div>
                </div>
            </a>
            </div>
            <div class="Vol-Dash-MainContent-Col1">
               <a href="./UpcommingEvents.html" class="Vol-Dash-Ele1-aTag">
                <div class="Vol-Dash-MainContent-Element1">
                    <img src="../static/ProfileImg-Vol-Dashboard.png" alt="Imgage of a book" class="Vol-Dash-Ele3-Img">
                    <div class="Vol-Dash-MainContent-Ele1-text">
                        <h2>Event Listing</h2>
                        <p>Education, nutrition and holistic development of children</p>
                    </div>
                </div>
            </a>
            </div>
        </div>
    </div>
</body>

</html>
