<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Profile</title>
    <link rel="stylesheet" href="../static/profile.css">
</head>

<body>
    <div class="profile-page">
        <header class="header">
            <h1>NGO Volunteer Profile</h1>
        </header>
        <div class="profile-container">
            <img src="./static/OIP.jpg" alt="" class="profile-photo">
            <div class="profile-info">
                <h2>Name:Rohini khanna</h2>
                <p>Role: Community Outreach Volunteer</p>
                <p>Email: rohinik@example.com</p>
                <p>Phone: +123456789</p>
                <p>Location: Pune, India</p>
            </div>
        </div>
        <div class="about">
            <h3>About Me</h3>
            <p>I am passionate about creating a positive impact in the community through active participation in
                outreach programs and raising awareness about important causes.</p>
        </div>
        <footer class="footer">
            <p>&copy; 2025 Volunteers Platform. All rights reserved.</p>
        </footer>
    </div>
</body>

</html>