<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Page </title>
    <link rel="stylesheet" href="../static/UpCommingEvents.css">
</head>
<body>
    <header>
        
    </header>
    <main>
        <section class="events">
            <h2>Upcoming Events</h2>
            <div class="search-bar">
                <input type="text" placeholder="Search by event name">
                <button>Search</button>
                
            </div>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Event Name</th>
                        <th>Speaker</th>
                        <th>Date & Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Event rows go here -->
                    <tr>
                        <td>1</td>
                        <td>UPSC 2023 Annual Conference</td>
                        <td>Sameer Sharma</td>
                        <td>Mon, 1 July<br>9:00 AM - 10:00 AM</td>
                        <td><button>Register</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>UXDC Research Summit</td>
                        <td>Alexandra Ruiz</td>
                        <td>Wed, 3 July<br>11:00 AM - 12:00 PM</td>
                        <td><button>Register</button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>ASD Design Conference</td>
                        <td>Michael Brown</td>
                        <td>Fri, 5 July<br>2:00 PM - 3:00 PM</td>
                        <td><button>Register</button></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Product Expo</td>
                        <td>Alastair Fraser</td>
                        <td>Thu, 1 Aug<br>5:00 PM - 6:00 PM</td>
                        <td><button>Register</button></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    
       
</body>
</html>